@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

.info span {
  opacity: 1;
}

.hideInfo {
  opacity: 0;
}

.name {
	opacity: 75%;
}

.hideName {
	opacity: 0;
}

.navbar {
    width:100% ;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.navpicture1 {
	width: 10vw;
	border-radius: 50%;
	margin-top: 2vw;
	margin-left: 4vw;
}

.navpicture2 {
	height: 10vw;
	margin-top: 2vw;
	margin-left: 4vw;
	opacity: 50%;
}

.star {
  transition: color 200ms;
}

.radio {
	display: none;
}

.like-button {
	width: 40%;
	background-color: #248BC5;
	border: none;
	border-radius: 0.5em;
	box-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
	outline: none;
	z-index: 1;
	margin-top: 2vh;
}

.dislike-button {
	width: 40%;
	margin-top: 2vh;
	background-color: #DEF1FC;
	border: none;
	border-radius: 0.5em;
	box-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
	outline: none;
	z-index: 1;
}

.background {
	position: relative;
	width: 90%;
	z-index: -1;
	margin: 0 auto
}

.background img {
	width: 100%;
	border-radius: 1em;
}

.wrapper {
	position: absolute;
	color: black; 
	font-weight: 200;
	top: 400px;
	right: 20px;
	font-size: 15px;
}

.wrapper p {
	margin-left: 1vh;
}

.landmarkInfo p {
	margin: 0 0 0 2vw;
}

.image2 {
	margin-left: 2vw;
}

.info {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 1em;
	font-size: 15px;
	width: 90%;
	height: 100%;
	top: 70px;
}

.picture {
	height: 80vh;
	width: 100%;
	z-index: -1;
}
.title {
	position: absolute;
	left: 20px;
	bottom: 120px;
	background: white;
	font-size: 15px;
	border-radius: 1em;
	padding: 5px;
	width: 200px;
	margin-left: 1vw;

}

.landmarkName {
	font-weight: bold;
}

.title p {
	margin: 0;
	font-weight: 700;
}

.button {
height: 80px;
width: 80px;
right: 5px;
bottom: 85px;
color: white;
position: absolute;
} 



 .btnArea {
	 width: 100%;
	 display: flex;
	 justify-content: space-evenly;
	
 }

.profile-header {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 2vh;
}

.landmark-card {
	width: 90%;
	max-width: 400px;
	margin: 0 auto 3vh;
	display: flex;
	box-shadow: 0 0 5px #000000, 0 0 5px #ffffff;
	border-radius: 4px;
}

.landmark-image {
	height: 20vh;
	margin-right: 3vw;
}

.landmark-image img {
	max-height: 100%;
	border-radius: 4px 0 0 4px;
}

.landmark-info {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-top: 1vh;
}

.landmark-info h4 {
	margin: 0;
	margin-bottom: 1vh;
}

.landmark-info p {
	font-size: 14px;
}

.landmark-location {
	margin: 0;
}

.landmark-location img {
	margin-right: 1vw;
}

.landmark-description {
	margin-top: 1vh;
	margin-bottom: 1vh;
	color: #3c6e71;
}

.star-row {
	text-align: right;
	margin-right: 2vw;
}

